.main-content{
  width: 20%;
  margin: 0 auto;
  border: 4px solid black;
  border-radius: 1px;
  padding: 2%;
}
#login-account{
  margin-bottom: 2%;
}
#create-account{
  /*width: 300px;*/
  /*width: 15%;*/
  /*float: left;*/

}
