<div class="main-content">
  <div id="login-account">
    <form>
      <label>Enter your username</label>
      <input type="text" name="username" placeholder="Username"><br>
      <label>Enter your password</label>
      <input type="password" name="password" placeholder="Password"><br>
      <input type="submit" value="Login!">
    </form>
  </div>
  <div id="create-account">
    <form>
      <label>Enter your email</label>
      <input type="text" name="email" placeholder="Enter your email"><br>
      <label>Select a username</label>
      <input type="text" name="username" placeholder="Username"><br>
      <label>Enter your password</label>
      <input type="password" name="password" placeholder="Password"><br>
      <label>Confirm your password</label>
      <input type="password" name="password" placeholder="Confirm your password"><br>
      <input type="submit" value="Create Account!">
    </form>
  </div>
</div>
