<div class="main-content">
  <div id="login-account">
    <form action='/sessions' method='POST'>
      <h3>Sign in</h3>
      <input type="text" name="username" placeholder="Username" required><br>
      <input type="password" name="password" placeholder="Password" required><br>
      <input type="submit" value="Login!">
    </form>
  </div>
</div>
