<div>
  <h3>Welcome, <%= @user.first_name %>!</h3>
  <form action="/sessions/<%=@user.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Sign out!">
  </form>
  <div class="main-content">
  <form>
    <button class="add-contact">Add a new contact!</button>
  </form>
  <ul>
  <% @contacts.each do |contact| %>
    <li><%= contact.first_name %> <%= contact.last_name %></li>
  <% end %>
  </ul>
  </div>
</div>
