<div>
  <h3>Welcome, <%= @user.first_name %>!</h3>
  <form action="/sessions/<%=@user.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Sign out!">
  </form>
  <div class="main-content">
  <a href="/contacts/new"><button class="add-contact">Add a new contact!</button></a>
  <form action="/texts" method="post">
    <input type="hidden" name="user_id" value="<%= @user.id %>">
    <input type="text" placeholder="Enter a test text message" name='message'>
    <input type="submit" value="Send!">
  </form>
  <ul>
  </ul>
  </div>
</div>
